<h1>New Account</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Account %><br />
    <%= f.text_field :account_number %>
  </p>
  <p>
    <%= f.label :Supplier_ID %><br />
    <%= f.collection_select(:supplier_id, Supplier.all, :id, :name, options ={:prompt => "-Select ID"}) %>
  </p> 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<%= link_to 'Back', accounts_path %>


